<%- include partials/header.ejs %>

<section id="admin-options">

	<div class="panel content-admin-row">
		<a href="/admin/usuarios">Usuarios</a>
	</div>

	<div class="panel content-admin-row">
		<a href="/admin/plantillas">Plantillas</a>
	</div>

	<div class="panel content-admin-row">
		<a href="/admin/historias">Historias</a
	</div>

</section>