<%- include partials/header.ejs %>

<section id="admin-options">

	<div>
		<a href="/admin/usuarios">Usuarios</a>
		<span class="options">
			<a href="/admin/usuarios/new/">Agregar</a>
			<a href="/admin/usuarios/">Cambiar</a>
		</span>
	</div>

	<div>
		<a href="/admin/plantillas">Plantillas</a>
		<span class="options">
			<a href="/admin/plantillas/new/">Agregar</a>
			<a href="/admin/plantillas/">Cambiar</a>
		</span>
	</div>
	
</section>