	<h1>Bienvenido a 8enlinea</h1>

	<%if ( req.session.authenticated ) { %>
		<h2>Hola!</h2>
	<% } %>

	<p>Para ver el proyecto ve a <a href="http://www.ochoenlinea.com">http://www.ochoenlinea.com</a>
	</p>

	<%if ( req.session.authenticated ) { %>
		<p>Tambien te puede interesar <a href="/logout">Cerrar sesión</a></p>
	<% }else{ %>
		<p>Tambien te puede interesar <a href="/login">Iniciar sesión</a></p>
	<%} %>